<html>
  <head></head>
  <body>
    <p>Welcome to Caesar Cipher</p>
    <p>Enter your message and offset below.</p>
    <form>
      <input type='text' name='phrase' placeholder='Message'/>
      <input type='text' name='offset' placeholder='Offset'/>
      <input type='submit' value='Cipherize'/>
    </form>
    <p>Your original message was: <%= input %></p>
    <p>Your coded message is: <%= translation %></p>
  </body>
</html>